doctype html
html
    head
        title hello
    style.
        body{color:red}
    body
        #mydiv.mycls.mycls2(name="zfpx",age=8) guhongbo
        - var courses=['node','javascript']
            each course in courses
            p # {course}
            p = course

