#root {
  /*width: 800px;*/
  margin: 0 30px;
}

.menu {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu a {
  color: #108ee9;
  text-decoration: none;
}

